*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#con{
    margin-top: 100px;
}
.blue{
    background-color: blue;

}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    
    --third-color:white;
   
    --fourth-color:black;
    cursor: pointer;
   
}
.dark-them{
    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
}
body{
    background:var(--primary-color) ;  
}
.card{
    max-width: 800px;
    background: var(--third-color);
    font-size: 17px;
    color:var(--fourth-color);
}
#main-panel{
    background:var(--primary-color);
    height:100%;
 
}
table{
    height: 350px;
    overflow:hidden ;
    font-size: 18px;
    color: var(--fourth-color);
    border-radius: 5px;
    background: var(--third-color);
}
table th {
    color: #f1f2f3;
    padding-right: 90px;
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

table td{
    padding-left:90px;
    padding-right:90px ;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Groupsname{
    width: 100%;
    background-color: #d5e0e7;
    color:rgb(19, 12, 12);
    font-weight: 700;
    border-radius: 5px;
}
#exampleFormControlTextarea1{
    border-radius: 5px;
}
.font{
    font-size: 15px;
}
.blu{
    background-color: rgb(67, 136, 216);
}
.col{
    background-color: aquamarine;
}
.form-control{
    border: 1px solid black;
}
.textarea{
    background-color: #d5e0e7;
    color:rgb(19, 12, 12);
    font-weight: 700;
}
textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: 1px solid black;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 0;
    line-height: 2;
}
.bor{
    width:90% ;
    box-shadow: 2px 4px 4px 4px rgb(241, 247, 247);
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}
.sidebar[data-color="blue"] .nav li.active>a:not([data-toggle="collapse"]), .off-canvas-sidebar[data-color="blue"] .nav li.active>a:not([data-toggle="collapse"]) {
    color: #2CA8FF;
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: var(--secondary-color); 
}
.textarea{
    width: 100%;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(218, 218, 231);
    border-radius: 50px;

}