*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
 
}
body{
    background:var(--primary-color);
    height:100%;
    overflow: auto;
}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    --third-color:white;
    --fourth-color:black;
    
    --column-color:#fff;
    cursor: pointer;
    --table-according:rgb(217, 219, 212);
}
.dark-them{
    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
    --table-according:#333;
    --column-color:#333;

}
#main-panel{
    background:var(--primary-color);
    height:100%;
}
#con{
    margin-top: 100px;
}
.card{
    border-radius: 10px;

}
.blue{
    background: blue;
}
.row .col{
    display: inline-block;
}
.row #col a{
    position: relative;
    left: 80%;
}

h6{
    font-size: 17px;
    margin-left: 15px;
}
.card p{
    font-size: 17px;
}
thead{
    font-size: 12px;
    color: var(--fourth-color);
}
.body1 td,.body1 th,.body1 thead ,.body1 tr{
    border:1px solid black;
}
.body2 td,.body2 th,.body2 thead ,.body2 tr{
    border:1px solid black;
}
.body1 td:nth-child(1),.body2 td:nth-child(1){
    color:rgb(105, 105, 245);
}
.body1 td:nth-child(2),.body1 td:nth-child(3){
    color:rgb(78, 212, 78);
}
.body2 td:nth-child(2),.body2 td:nth-child(3){
    color:rgb(231, 7, 7);
}
tbody tr:nth-child(6)>td:first-child{
    color:var(--fourth-color);
}
thead{
    background-color: #6d93c4;
}
tbody tr:nth-child(6)>td:last-child{
    text-align: end;
    padding-right: 10%;
}
td,th{
    text-align: center;
}
.p{
  margin-left: 45%;
}
#p{
    margin-left :35%;
}

r{
    color:rgb(235, 15, 15);
}

.body3{
    display: flex;
    flex-direction:row;
}
.card{
  max-width: 98%;
  margin: 0 15px;
color: var(--fourth-color);
  background:var(--third-color);
}
.table2{
    margin-left: 20px;
}
.table2>tbody>tr>td{
 padding:3px 20px 3px 20px;
 text-align: start;
}
hr{
    width: 100%;
    font-weight: bolder;
}
#btn {
   margin-left: 20px;
}
tbody{
    font-size: 17px;
}

@media screen and (max-width: 480px){
    .row #col a{
        position: relative;
        left: 50%;
    }
    .p{
        margin-left: 10%;
    }
    #p{
        margin-left: 5%;
    }
    .card{
        max-width: 98%;
        margin: 0 0;
      }
}