*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;      
}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    --third-color:white;
   
    --fourth-color:black;
    cursor: pointer;
   
}
.dark-them{

    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
}

#main-panel{
    background:var(--primary-color);
    height:100%;
    overflow: auto;
}
#con{
    margin-top: 100px;
}
.mar{
    background-color: rgb(20, 112, 165);
    color:aliceblue
}

.blue{
    background-color: rgb(60, 60, 196);
}
.aqua{
    background-color: aqua;
}
.font{
    font-size: 10px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 10px 20px;
    vertical-align: middle;
   
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}
.form-select{
    width: 150px;
    padding: 7px;
    border-radius: 4px;
    background:linear-gradient(45deg,rgba(135, 201, 204, 0.7),rgb(19, 85, 184,0.3));
    color: rgb(13, 16, 197);
    font-weight: 700;
    margin-bottom: 10px;
}
.row .col-6 select{
  padding: 0 4px 04px;
}
.table-responsive .table th{
    font-size: 15px;
    font-weight:700;
    padding: 5px 7px 5px 7px;
}

.table-responsive .table thead{
    background-color: rgb(109, 147, 250);
    
}
input[type="text"]{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    overflow: none;
}
.table tbody ,th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
  color:var(--fourth-color)
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    white-space: nowrap;
   
}
td{
    white-space: nowrap;
}
.blue{
    background-color: blue;
}
.blueb{
    color: blue;
}
.lightgreen{
  
    background-color: rgb(192, 233, 219);
}
.yellow{

    background-color: rgb(248, 248, 147);
}
.apin{
  
    background-color: rgb(185, 136, 145);
   
}
.card{
    padding: 0;
    margin:0;
    background: var(--third-color);
    color:var(--fourth-color);
}
.card-body{
    padding: 0;
    margin: 0;
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: var(--secondary-color); 
    
}