*{
    box-sizing: border-box;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } 
   :root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    
    --third-color:#dbe8eb;
   
    --fourth-color:black;
    cursor: pointer;
   
}
.dark-them{

    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
}
   .font{
     color: var(--fourth-color)!important;
     background:var(--third-color)!important;
    
   }
   #con{
       margin-top: 80px;
       font-size: 15px;
   }
   body{
    background:var(--primary-color);
    
   }
   #main-panel{
     /* background:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ; */
     background:var(--primary-color);
     height:100%;
   }
   .card{
     width:95%;
     background-color:white;
     font-size: 15px;
   }
   
   .blue{
       background-color: blue;
   }
   .switch {
       position: relative;
       display: inline-block;
       width: 70px;
       height: 25px;
     }
     
     .switch input { 
       opacity: 0;
       width: 0;
       height: 0;
     }
   input[type="text"]{
     background-color: white;
   }
     .parrat{
        background-color: rgb(79, 206, 93);
     }
     .slider {
       position: absolute;
       cursor: pointer;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
      background-color: red;
       -webkit-transition: .4s;
       transition: .4s;
       transform: rotate(180deg);
     }
      
     .slider:before{
       position: absolute;
       content: "";
       height: 18px;
       width: 18px;
       left: 4px;
       bottom: 4px;
       background-color: white;
       -webkit-transition: .4s;
       transition: .4s;
     }
     
     input:checked + .slider {
      background-color: rgb(79, 206, 93);
     }
     
     input:focus + .slider {
       box-shadow: 0 0 1px #2196F3;
     }
     
     input:checked + .slider:before {
       -webkit-transform: translateX(34px);
       -ms-transform: translateX(20px);
       transform: translateX(40px);
     }
     
     /* Rounded sliders */
     .slider.round {
       border-radius: 34px;
     }
     
     .slider.round:before {
       border-radius: 50%;
     }
     .form-select{
       width: 150px;
       margin-bottom: 13px;
     }
     .text{
       padding-bottom: 5px;
     }
     .switch1 {
       position: relative;
       display: inline-block;
       width: 70px;
       height: 30px;
     }
     
     .switch1 input { 
       opacity: 0;
       width: 0;
       height: 0;
     }
     
     .slider1 {
       position: absolute;
       cursor: pointer;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgb(27, 73, 223);
       -webkit-transition: .4s;
       transition: .4s;
       transform: rotate(180deg);
     }
     
     .slider1:before {
       position: absolute;
       content: "";
       height: 23px;
       width: 23px;
       left:2px;
       bottom: 4px;
       background-color: white;
       -webkit-transition: .4s;
       transition: .4s;
     }
     
     input:checked + .slider1 {
       background-color:rgb(189, 189, 199);
     }
     
     input:focus + .slider1 {
       box-shadow: 0 0 1px #2196F3;
     }
     
     input:checked + .slider1:before {
       -webkit-transform: translateX(35px);
       -ms-transform: translateX(35px);
       transform: translateX(36px);
     }
     
     /* Rounded sliders */
     .slider1.round1 {
       border-radius: 34px;
     }
     
     .slider1.round1:before {
       border-radius: 50%;
     }
     .switch2 {
      position: relative;
      display: inline-block;
      width: 70px;
      height: 30px;
    }
    
    .switch2 input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider2 {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(168, 170, 177);
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider2:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left:2px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
      background: var(--secondary-color)
      
  }
    input:checked + .slider2 {
      background-color:rgb(38, 38, 185);
    }
    
    input:focus + .slider2 {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider2:before {
      -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
      transform: translateX(36px);
    }
    
    /* Rounded sliders */
    .slider2.round2 {
      border-radius: 34px;
    }
    
    .slider2.round2:before {
      border-radius: 50%;
    }
   
     #sud{
       height:150px;
       width: 250px;
       
     }
     #toggleshadule{
       display: none;
     }
     #check4:checked ~ #toggleshadule{
       display: inline;
     }
 
     .form-control {
       background-color: transparent;
       border: 1px solid black;
       border-radius: 30px;
       color: #2c2c2c;
       line-height: normal;
       height: auto;
       font-size: 0.8571em;
     }
     .sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
       position: relative;
       height: calc(100vh - 75px);
       overflow: hidden;
       width: 260px;
       z-index: 4;
       padding-bottom: 100px;
   }
   .form-select{
     width: 150px;
     padding: 4px;
     border-radius: 4px;
     background:linear-gradient(45deg,rgba(135, 201, 204, 0.7),rgb(19, 85, 184,0.3));
     color: black;
     font-weight: 700;
   }
   #Sell{
     display:none;
   }
   .lor{
     background-color: rgb(10, 172, 118);
   }
    input[type="text"]{
      border: 0.5px solid black;
      height: 30px;
      margin-bottom: 5px;
      background-color: #f5f6f7;
      border-radius: 10px;
      color:black
}
.modal-header , .modal-body ,.modal-footer{
  background:var(--third-color)!important;
}
#check4:checked ~ #toggleshadule{
  display: inline;
}