*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#con{
    margin-top: 100px;
}
.blue{
  background-color: blue;
}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    
    --third-color:white;
   
    --fourth-color:black;
    cursor: pointer;
   
}
.dark-them{

    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
}
#main-panel{
    background:var(--primary-color);
    height:100%;
}

.font{
    font-size:10px;
    background-color: rgb(150, 193, 223);
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 7px 50px;
    vertical-align: middle;
}
  
table td{
    padding-left: 100px;
    padding-right: 100px;
  
}



.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: var(--secondary-color); 
}
.table{
    width: 100%;
    font-size: 17px;
}
.card{
    background: var(--third-color);
    
}
td{
    white-space: nowrap;
    background: var(--third-color);
    color: var(--fourth-color);
}
table .th{
    padding-left: 120px;
    padding-right: 120px;
    color:var(--fourth-color);
    font-size: 20px;
}
