*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}
body{
    background:linear-gradient(45deg,rgba(32, 110, 149,1),rgba(128, 200, 240,0.9)) ;
}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    
    --third-color:linear-gradient(90deg,rgb(188, 188, 199),rgba(33, 52, 228, 0.938));
   
    --fourth-color:black;
    cursor: pointer;
   
}
.dark-them{

    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(245, 227, 227);
    cursor: pointer;
}
#main-panel{
    background:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    height:100%;
    overflow: auto;
    background: var(--primary-color);
}
#main-panel [background-imag] {
    opacity: 0.5;
}
.container{
    margin-top:25px;
}
/* #Container{
    margin-top:60px;
} */
#ti{
    font-size: 40px;
    margin-left: 40%;

    padding: 2%;
}
#ti:hover{
    font-size:35px;
}
.form-select{
    height: 30px;
    margin-left:10px;
    margin-right: 10px;
    align-self: center;
    background:linear-gradient(45deg,rgba(135, 201, 204, 0.7),rgb(19, 85, 184,0.3));
    border-radius: 2px;
    color: rgb(6, 46, 92);
    font-weight:700;
}
.sidebar.sidebar-wrapper{
    height: 70vh;
}

.card{

    width: 230px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 2px;
    margin-right: 2px;
    border: 3px solid rgb(0, 70, 150) ;
/* transition: all 0.5s; */
/* background:linear-gradient(180deg,rgba(4, 6, 71, 0.9),rgba(2, 15, 44, 0.9)); */
/* background:linear-gradient(180deg,rgb(18, 240, 129),rgba(32, 124, 78, 0.966)); */
/* background:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99)); */
/* background:rgba(121, 169, 224, 0.651) ; ; */
box-shadow:2px 2px 2px 2px;
background: var(--third-color);


}
.card-body i{
    position: relative;
    left:90px;
    top:-20px;
    border: 3px solid rgb(6, 46, 92) ;
  height: 40px;
padding-left:5px;
padding-top: px;
padding-right: 5px;
padding-bottom:37px;
    border-radius:50% ;
    font-size: 27px;
   font-weight:bolder;
    color:#02141f;
    background:linear-gradient(45deg,rgb(205, 215, 219),rgba(236, 237, 238, 0.979)) ;
}


.container .row .col .btn{
    align-self: center;
} 
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}
.card-body h6{
    color:#02101a;
}
.card p,.card h6{
    color:rgb(2, 6, 10);
    margin-top:10px;
}
.card .card-body p{
    font-size: 20px;
}

.sidebar .nav p, .off-canvas-sidebar .nav p {
    margin: 0;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}
.nav-pills .nav-link, .navbar, .nav-tabs .nav-link, .sidebar .nav a, .sidebar .nav a i, .navbar-collapse .navbar-nav .nav-link, .animation-transition-general, .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize, .sidebar .nav p, .off-canvas-sidebar .nav p, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal, .tag, .tag [data-role="remove"], .animation-transition-general, .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize, .sidebar .nav p, .off-canvas-sidebar .nav p, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
p {
    margin-top: ;
    margin-bottom:;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sidebar[data-color="blue"] .nav li.active>a:not([data-toggle="collapse"]), .off-canvas-sidebar[data-color="blue"] .nav li.active>a:not([data-toggle="collapse"]) {
    color: #052c47d2;
    /* color:blue; */
}
.wrapper .sidebar li{
    font-size: 15px;
}
.margin{
    margin-top: 100px;
}
#green{
    color:rgb(94, 253, 192);
   
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: var(--secondary-color)
    
}
.card-body p , .card-body h6{
    color:var(--fourth-color)
}