*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;   
}
body{
    background:linear-gradient(45deg,rgba(32, 110, 149,1),rgba(128, 200, 240,0.9)) ;
}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);   
    --third-color:linear-gradient(90deg,rgb(244, 244, 248),rgba(239, 240, 245, 0.938)); 
    --fourth-color:black;
    cursor: pointer;  
}
.dark-them{

    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
}
#main-panel{
    background:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    height:100%;
    overflow: auto;
    background: var(--primary-color);
}
#main-panel [background-imag] {
    opacity: 0.5;
}
.container{
    margin-top:25px;
}
#Container{
    margin-top:60px;
}
#ti{
    font-size: 40px;
    margin-left: 40%;

    padding: 2%;
}
#ti:hover{
    font-size:35px;
}
.btn{
    white-space: normal;
}
.form-select{
    height: 30px;
    margin-left:10px;
    margin-right: 10px;
    align-self: center;
    background:linear-gradient(45deg,rgba(135, 201, 204, 0.7),rgba(118, 163, 231, 0.3));
    border-radius: 2px;
    color: rgb(5, 50, 102);
    font-weight:700;
}
.sidebar.sidebar-wrapper{
    height: 70vh;
}
.container .row .col .btn{
    align-self: center;
} 
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}


.sidebar .nav p, .off-canvas-sidebar .nav p {
    margin: 0;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}
.nav-pills .nav-link, .navbar, .nav-tabs .nav-link, .sidebar .nav a, .sidebar .nav a i, .navbar-collapse .navbar-nav .nav-link, .animation-transition-general, .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize, .sidebar .nav p, .off-canvas-sidebar .nav p, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal, .tag, .tag [data-role="remove"], .animation-transition-general, .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize, .sidebar .nav p, .off-canvas-sidebar .nav p, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sidebar[data-color="blue"] .nav li.active>a:not([data-toggle="collapse"]), .off-canvas-sidebar[data-color="blue"] .nav li.active>a:not([data-toggle="collapse"]) {
    color: #052c47d2;
    color:blue; 
}
.wrapper .sidebar li{
    font-size: 15px;
}
.margin{
    margin-top: 70px;
}
#green{
    color:rgb(94, 253, 192);
 
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after
 {
    background: var(--secondary-color); 
    fon
 }
.btn{
    margin: 0;
    padding: 10;
}
.card{
    width: 200px;
    height: 150px;
    border-radius: px;
    /* background: url("rose-gf7a48af0f_1920.jpg"); */
    background: linear-gradient(90deg,rgb(201, 216, 238),rgb(91, 139, 211),rgb(4, 64, 153));
    border-radius: 10px;
}
hr{
    margin-top:40px;
    border:1px solid rgb(6, 36, 82);
   
    transition: all 0.5s;
}
 .card i{
     top: 18px;
     left:70px;
     position: absolute;
    font-size: 25px;
    color:rgb(10, 81, 148);
    background-color: rgb(233, 236, 240);
    border-radius: 50%;
    /* padding: 7px; */
    box-shadow:2px 2px 2px 2px rgb(100, 100, 138);
    z-index:1;
    border:1px solid blue;
}
.card-body{
    position: absolute;
    background: var(--third-color);
    top:44px;
    height: 107px;
    width: 200px;
 border:3px solid rgb(105, 105, 179);
 color:var(--fourth-color);
}
#green{
    color:rgb(34, 230, 34);
}
.card p{
    font-size:23px;
    color:;
}
.card h6{
    font-size: 17px;
}
/* .card:hover{
    transform:rotate(-360deg);
    transition: all 2s; 
} 