*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}
:root{
    --primary-color:linear-gradient(45deg,rgba(32, 110, 149,0.9),rgba(128, 200, 240,0.7)) ;
    --secondary-color:rgba(29, 72, 86,1);
    --third-color:linear-gradient(90deg,rgba(67, 132, 165, 0.9),rgba(128, 240, 216, 0.7)) ;
   
    --fourth-color:black;
    cursor: pointer;
   
}
.dark-them{

    --primary-color:linear-gradient(45deg,rgba(22, 23, 24, 0.9),rgba(6, 10, 65, 0.7)) ;
    --secondary-color:rgb(33, 41, 41);
    --third-color:linear-gradient(180deg,rgb(26, 35, 39),rgb(76, 73, 99));
    --fourth-color:rgb(243, 240, 240);
    cursor: pointer;
}
#main-panel{
    background:var(--primary-color);
    height:100vh;
}

#con{
    margin-top: 100px;
}
.navbar{
    
}
.container{
   
   
}
table{
    overflow: none;  
    font-size: 17px; 
}
.blue{
    background-color: rgb(60, 60, 196);
}
.aqua{
    background-color: aqua;
}
.font{
    font-size: 10px;
}
.table{
    width:800px;
    overflow:auto;
}
.table td{
    width:250px;
    color:var(--fourth-color);
}
.table td:nth-child(3) {
    width: 400px;
}
.form-select{
    width:200px;
    padding: 7px;
    border-radius: 4px;
    background:linear-gradient(45deg,rgba(135, 201, 204, 0.7),rgb(19, 85, 184,0.3));
    color: var(--fourth-color);
    font-weight: 600;
    font-size: 15px;
}
.card{
    width:60vw;
    background:var(--third-color) ;
    color:var(--fourth-color)
    
}

@media (max-width: 700px){
   .card{
    width:95vw;
   }
}
.sidebar-wrapper{
    overflow-y:hidden;
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: var(--secondary-color); 
}