*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-panel{
    background-color: aquamarine;
}
#con{
    margin-top: 100px;
}
.navbar{
    
}
.container{
   
   
}
table{
    overflow: none;
    margin-left:50px ;
}
.blue{
    background-color: rgb(60, 60, 196);
}
.aqua{
    background-color: aqua;
}
.font{
    font-size: 10px;
}