*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-panel{
    background-color: aquamarine;
}
#con{
    margin-top: 100px;
}
.navbar{
    
}
.container{
   
   
}

.blue{
    background-color: rgb(60, 60, 196);
}
.aqua{
    background-color: aqua;
}
.font{
    font-size: 10px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 2px 7px;
    vertical-align: middle;
}